{
  "default_server_config": {
    "m.homeserver": {
      "base_url": "http://${LAN_HOST_IP}:8008",
      "server_name": "${MATRIX_HOST}"
    }
  },
  "restrictBaseUrl": true,
  "default_server_name": "${MATRIX_HOST}"
}
